.App {
  text-align: center;
  background-color: cornflowerblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  text-align: center;
  color: rgb(235, 10, 10);
  margin-top: 50px;
  border: 1px solid black;
  background-color: rgb(155, 230, 233);
  box-sizing: border-box;
  width: 330px;
  height: 250px;
  padding: 30px;  
 border-radius: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
  padding: 10px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20%;
  color: rgb(33, 29, 37);
  background-color: rgb(238, 42, 212);
}
.span1{
  font-weight: bolder;
  font-size: 30px;
}
